.business {
  background: #031f28;
  color: #fff;
  &__title {
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.3;
    letter-spacing: 0em;
    margin-bottom: 1.875rem;
  }
  &__items {
    @include grid(20rem, 1rem);
    @include media($laptop) {
      @include grid(17rem, 1rem);
    }
    @include media($tablet) {
      @include grid(12rem, 1rem);
    }
    @include media($mobile) {
      grid-template-columns: 1fr;
    }
  }
  &__item {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: clamp(1.5rem, 4vw, 3.75rem) clamp(1rem, 3vw, 2.25rem);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    counter-increment: number;
    h3 {
      font-weight: 400;
      font-size: 1.5rem;
      letter-spacing: -0.01em;
      margin-top: clamp(2.25rem, 8vw, 5rem);
      margin-bottom: 1.5rem;
    }
    p {
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.6;
    }
    &::before {
      content: '0' counter(number);
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 130%;
      letter-spacing: -0.01em;
    }
    &:nth-child(n + 10) {
      &::before {
        content: counter(number);
      }
    }
  }
}
