@import '../src/scss/default/normalize';
@import '../src/scss/default/reset';
@import '../src/scss/default/vars';
@import '../src/scss/default/container';
@import '../src/scss/default/fonts';

@import '../src/scss/blocks/header/header';
@import '../src/scss/blocks/hero/hero';
@import '../src/scss/blocks/about/about';
@import '../src/scss/blocks/business/business';
@import '../src/scss/blocks/people/people';
@import '../src/scss/blocks/footer/footer';

body {
  font-family: $font-family;
}

.logo {
  position: relative;
  z-index: 10;
  display: block;
}
